body{
    margin: 10px 0;
    padding: 0;
    text-align: center;/* EMMET tac+tab*/
    font-family: sans-serif;
    background: #ddeeaa;
}

div#conteneur{
    width: 770px;
    margin: 0 auto;
    text-align: left;
    border: 2px solid #ab4;
    background: #fff;
}
h1#header{
    height: 258px;
    background: url(../img/apple.jpg) no-repeat left top;/*image de fond qui ne se repète pa, positionnée en haut à gauche */
    margin: 0;/*EMMT margin: 0; => m0 = tab */

}

h1#header a{
    width: 400px;
    height: 70px;
    display: block;
    background-image: url(../img/title.gif);
    position: relative;/* je règle sa position par rapport à la balise parent*/
    left: 350px;
    top: 15px;
    text-indent: -5000px; /* text-indent => retrait ici je sors le texte de l'écran pour ne pas gêner l'image */
}

ul#menu{
    /*je donne à mon menu même la hauteur de l'image que je vais utiliser  */
    height: 35px;
    margin: 0;
    padding: 0;
    background: url(../img/bg_menu.gif) repeat-x 0 -25px;/* repeat-x répète l'image horizontalment (axe x) - => aucun décalage à gauche - et -25px remonte l'image */
    list-style-type: none;/* on cache les puces */
}

ul#menu li{
    float: left; /* aligne les image sur la même ligne*/
    text-align: center;
}

ul#menu li a{
    width: 130px;
    line-height: 25px;
    font: 1.2em;
    font-weight: bold; /* caractère en gras*/
    letter-spacing: 2px;/* espaces entre les lettres */
    color: #fff;
    display: block;
    text-decoration: none;/* suprime l'affichage par dèfaut d'un lien (bleu souligné)*/
    border-right: 2px solid #dea;
}

ul#menu li a:hover{
    background: url(../img/bg_menu.gif) repeat-x 0 0;
}


div#contenu{
    padding: 0 30px 0 100px;/*haut droite bas gauche*/
    background-image: url(../img/bg_page.gif);
    background-repeat: no-repeat;
    background-position: 15px 15px;/*crée une espace à gauche  et à droite de l'image*/
}
div#contenu h2{
    padding-left: 25px; /*décale le texte par rapport à l'image */
    /*EMMET PADDING-LEFT => pl = tab */
    line-height: 25px; /*hauteur de ligne */
    /*EMMET line-heigth => lh = tab */
    font-size: 1.4em;
    background: url(../img/little_apple.gif) no-repeat left bottom;
    color: #9b2;
    border-bottom: 1px solid #9b2; /*bb+tab*/
}


div#contenu h3{
    margin-left: 15px;
    padding-left: 5px;
    border-left: 1px solid #9b2;
    border-bottom: 1px solid #9b2;
    color: #99cc22;
}
div#contenu p{ /*paragraphe plus aérés*/
    text-align: justify;
    text-indent: 2em;
    line-height: 1.7em;

}
div#contenu a{/*mise en forme des liens*/
    color: #88aa00;
}
div#contenu a:hover{ /*change la couleur au survol de la souris avec la pseudo classe css :hover*/
    color: #99cc22;
}

p#footer{
    margin: 0;
    padding-right: 10px;
    line-height: 30px;
    text-align: right;
    color: #88aa00;

}
