body{
    width: 100%;
    margin: 0 auto;
    /* padding: 0; */
    /* text-align: center;EMMET tac+tab */
    font-family: sans-serif;
    background-image: url(../img/wallpapers-cool9.jpg);
}


header{
    height: 730px;
   
    margin: 0;
    text-align: center;
    font-family: 'Chonburi', cursive;
    /* font-family: 'Freckle Face', cursive; */
    bottom: 0;
    /* <link href="https://fonts.googleapis.com/css?family=Chonburi" rel="stylesheet"> */
     

}
.span{
    box-shadow: 0 0 25px 15px #00C1F8;
    border-radius: 10px;
    
}
#header{
    margin-top: 300px;
    /* background: linear-gradient( red, #fff) ; */
    display: inline-block;
    color: #00C1F8; 
    font-size: 100px;
    
}
nav ul li{
    list-style: none;
    display: inline;
    margin: 0px 20px;
    box-shadow: 0 0 15px 5px #00C1F8;
}
ul{
    /* float: right; */
    position: relative;
    top: 50px;
    right: 10px;
}    
a{
    text-decoration: none;
    font-family: fantasy;
    font-size: 18px ; 
    color: #00C1F8;
}
a:hover{
    background: #3f1873;
    -moz-transition-duration: 2s;
    color: #fff;
}
.activ{
    background-color: #00C1F8;
    color: #fff;
}
