*{
    box-sizing: border-box;
}

/* NORMALIZE => change le comportement par défaut des balises sur les différent Navigateur */
html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, 

p, blockquote, pre, a, abbr, acronym, address,

big, cite, code,del, dfn, em, img, ins, kbd,

q, s, samp,small, strike, strong, sub, sup,

tt, var,b,u, i, center,dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,table, caption,

tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, embed,figure,

figcaption, footer, header, hgroup,menu, nav,

output, ruby, section, summary,time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font:inherit;
    vertical-align: baseline;
}
/* REGLAGES GENERAUX */

body{

    background-image: url(../img/Grey-Abstract-Wallpaper-14-1920x1080.jpg);

    scroll-behavior: smooth; /* effet de scroll quand on clique sur une ancre- ne marche pas sur Firefox, Chrome et Opera dernières vesrions */

}

h1{

    font-size: 45px;

    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Do Hyeon', sans-serif;

    color: #08bc05;

    text-align: center;

    letter-spacing: 1px;

}

h2{

    font-size: 35px;

    color: #08bc05;

    padding: 20px;

    font-weight: bold;

    text-shadow: 1px 1px 2px #aaa; /* 4valeurs: ombre horizontale, verticale, zone flou, couleur de l'ombre */

}

h3{

    font-size: 22px;

    color: #08bc05;

    padding: 15px;

    text-shadow: 1px 1px 2px #aaa;

}

h4{

    text-align: center;

    margin-top: 30px;

}

blockquote{

    font-size: italic;

    font-size: 120%;

}

strong{

    font-weight: bold;

}

/*------- header ------*/

header{

    /* background: #484b54; */

    height: 175px;

}

#logo{

    float: left;

    width: 25%;

    /* background: #484b54; */

    padding: 15px;

    text-align: center;

}

#slogan{

    float: left;

    width: 50%;

    /* background: #484b54; */

    padding-top: 50px; /* EMMET pt50 + tab*/

}

#social{

    float: left;

    width: 25%;

    }

    #social i{

        color: #08bc05;

        font-size: 30px;

        text-align: right;

        padding: 15px 30px 0 0;

        display: block;/* EMMET db + tab*/

    }

header a{

    color: #08bc05;

    text-decoration: none;/* EMMET tdn + tab*/

}
/*-------fin header -------*/
.activ{
    background-color: black;
    color: #08bc05;
    border-radius: 0 15px;
}

/*------------- DBUT NAV -------------*/
nav a{
    color: #aaa;
    text-decoration: none;
    border: 2px solid #57ff55;
    font-size: 18px;
    margin: auto;
    padding:2px 10px;
    font-family: 'Do Hyeon', sans-serif;
    border-radius: 10px 0;
    display: inline-block;
    position: relative;
    left: 237px;
    margin: 16px;
}
a:hover{
    background: #08bc05;
    -moz-transition-duration: 1s;
    color: #484b54;
    border: 2px solid #fff;
}
/*------------ FIN NAV --------------*/

#zoning{
    width: 60%;
    height: 350px;
    margin: auto;
    /* background-color:  */
    border: 7px solid #08bc05;
     border-radius:20px 20px;
}
#zoning2{
    width: 60%;
    height: 100px;
    /* background-color: #57ff55; */
    border: 7px solid #57ff55;
    margin: auto;
    border-radius: 20px 20px;
}
footer{
    width: 100%;
    height: 40px;
    border:5px solid #08bc05;
    border-radius: 30px 0;
}


/* DEBUT PAGE TEXTE */
#texte{
    width: 60%;
    height: 551px;
    /* background-color: #61656b; */
    border: 5px solid  #61656b;
    border-radius: 20px;
    margin: auto;
}
#texte h2{
    text-align: left;
}
.texte{
    width: 100%;
    height: 120px;
    color: #08bc05;
    margin-top: 60px;
    padding: 10px;
}

/* FIN PAGE TEXTE */

/* DEBUT PAGE SELECTEURS */
#select{
    width: 60%;
    height: 615px;
    /* background-color: #61656b; */
    border: 5px solid #61656b;
    margin: auto;
    border-radius: 20px;
}
#select h2{
    text-decoration: none;
    color: black;
    text-shadow: none;
}
#select h3{
    color: blue;
    margin-left: 59px;
    margin-top: 30px;
    margin-bottom: 28px;    
    text-shadow: none;  
}
ul li{
    list-style: none;
}
#petit{
    color: orange;
    margin-left: 15px;
}
.rouge{
    color: red;
    margin-left: 15px;
    text-align: left;
    margin-left: 15px;
}
.noir{
    color: black;
    text-align: left;
    margin-left: 15px;
    
}
#gras{
    color: orange;
    font-size: 20px;
    text-align: left;
    margin-left: 15px;
}
#zoneA{
    color: red;
    font-size: 40px;
    margin-left: 15px;
}
#zoneB{
    color: #08bc05;
    margin-left: 15px;

}
#zoneB span{
    color: aqua;
}
#zoneC{
    color: green;
    font-size: 40px;
    margin-left: 15px;
}
#zoneD{
    color: #fff;
    margin-left: 15px; 
}
#zoneD span{
    color: greenyellow;
    font-size: 40px;
    font-style: italic;
}
#tour{
    position: relative;
    left: 384px;
    top: 50px;

}

/* le pseudo-class :firs-of-type permet de cibler le premier élément dont l'élément parent est d'un type donné (éx: cibler le premier élément fils d'un div  ...last-of-style:le contraire..........les psseudo-class:nth-of-style(x)pour cilbler la ligne dont le numero est compris entre les () de 1 à x*/

/* FIN PAGE SELECTEURS */


/* DEBUT PAGE IMAGES */
#section_image{
    width: 52%;
    height: 1196px;
    /* background-color: #484b54; */
    border: 5px solid  #08bc05;
    margin: auto;
}
#section_image h3{
    text-shadow: none;
    font-family: sans-serif;
    color: black;

}
.image{
    width: 100%;
    height: 500px;
    background-image: url(../img/img/fond.jpg);
    margin-top: 20px;
}
.image p{
    width: 70%;
    height: 132px;
    background-color: #dadada60;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    position: relative;
    top: 205px; 
    bottom: 50px; 
}

#entre{
    width: 52%;
    height: 50px;
    background-color: #dadada60;
    margin: auto;

}

#section_img h3{
    text-align: center;
    text-shadow: none;
    font-family: sans-serif;
    color: black;

}

#section_img{
    width: 52%;
    height: 630px;
    /* background-color: */
    border: 5px solid  #08bc05;
    margin: auto;

}

/* ------------ANIMATION-------------- */
.pont img:hover {
    -moz-transform: rotate(5deg) scale(1.10);
    -webkit-transform: rotate(5deg) scale(1.10);
    -o-transform: rotate(5deg) scale(1.10);
    -ms-transform: rotate(5deg) scale(1.10);
    transform: rotate(20deg) scale(1.10);
    opacity: 1;
}


.pont img{
    
    float: left;
    margin: auto;
    position: relative;
    left: 160px;
    margin: 20px; 
    border: 2px solid #fff;
    box-shadow: 0 0 5px 2px rgb(230, 16, 16);

    /* ----------ANIMATION--------- */

     -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    opacity: 2.7;

}

/* --------ANIMATION---------- */
#pont img:hover{
    -moz-transform: rotate(5deg) scale(1.10);
    -webkit-transform: rotate(5deg) scale(1.10);
    -o-transform: rotate(5deg) scale(1.10);
    -ms-transform: rotate(5deg) scale(1.10);
    transform: rotate(380deg) scale(1.10);/*effet rotation complet (360deb)*/
    opacity: 1;

}

#pont img{
    position: relative;
    left: 360px;
    border: 2px solid #fff;
    box-shadow: 0 0 5px 2px rgb(230, 16, 16);

/* -----ANIMATION------ */
     
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    opacity: 2.7;
}


/* FIN PAGE IMAGES */


/* --------- BOUTON TOP ---------- */

button{
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 250%;
    color: #04fa0062;
    /* color: rgba(151, 216, 178, 0.5) */

}
/* --------- FIN BOUTON TOP ---------- */

/* ---------- PAGE POSITION ------------ */
.position {
    width: 52%;
    /* height: 1196px; */
    /* background-color: #484b54;  */
    border: 5px solid  #08bc05;
    margin: auto;
}

.centre{
    background: red; 
    height: 200px;
    width: 500px;
    margin: 0 auto;
   
}
.absolute{
    position: absolute;
    background: orangered;
    width: 100px;
    height: 100px;
    top: 29%;
    left: 10%;
}
.relative{
    position: relative;
    background: rgb(2, 2, 82);
    width: 295px;
    height: 314px;
    margin: auto;
}
.relative div{
    position: absolute;
    background: yellowgreen;
    width: 60px;
    height: 60px;
    right: 0;
}

.p1{
    width: 30%;
    padding: 10px 0 10px 0;
    background: #fff;
}
.p1 p{
    font-size: 20px;
    color: red;
    padding-left: 15px;
}

.p2{
    margin-top:10px;
    width: 50%;
    padding: 10px 0 10px 0;
    background:blue;
}
.p2 p{
    font-size: 20px;
    color: red;
    padding-left: 15px;
}
.p3{
    margin-top:10px;
    width: 100%;
    padding: 10px 0 10px 0;
    background:red;
}
.p3 p{
    font-size: 20px;
    color: white;
    padding-left: 15px;
}







/* ---------- FIN PAGE POSITION ------------ */

/* ----------- ZONING --------- */
#zoningg{
    width: 75%;
    height: 500px;
    margin: auto;
}
.zone{
    color: #fff;
    margin-left: 40px;
    margin-top: 50px;
}
.haut{
    width: 100%;
    height: 70px;
    background: #f7f39a;
    text-align: center;
    margin: auto;

}
.gauche{
    width: 20%;
    height: 86%;
    background: #a3de83;
    float: left;
}
.droite{
    width: 80%;
    height: 86%;
    background: #38817a;
    float: right;
    text-align: center;
}
/* ------zoning 2---------  */
#zoning22{
    width: 60%;
    height: 500px;
    margin: auto;
}

.header_zoning{
    width: 100%;
    height: 70px;
    background: #f8f5e4;
    text-align: center;
}
.aside{
    width: 15%;
    height: 430px;
    background: #10828c;
    float: left;
     text-align: center;
}
.middle{
    width: 70%;
    height: 430px;
    float: left;
    background: #0e3047;
    text-align: center;
}
.d_aside{
    width: 15%;
    height: 430px;
    background: #10828c;
    float: right;
    text-align: center;
}

/* zoning 3 */
#zoning33{
    width: 70%;
    height: 500px;
    /* border: 2px solid red; */
    margin: auto;
}

.section_g{
    width: 50%;
    height: 430px;
    background: #639a67;
    float: right;
    text-align: center;
    color: #fff;
}
.section_d{
     width: 50%;
    height: 430px;
    background: #205d67;
    /* float: right; */
    text-align: center;
    color: #fff;
}
.section_b{
    width: 100%;
    height: 70px;
    background: #d8ebb5;
    text-align: center;

}

/* ZOning 4 */

#zoning44{
    width: 60%;
    height: 749px;
    margin: auto;
    background: #fff;
    border: 2px solid black;
}
.haut_zoning4{
    width: 100%;
    height: 80px;
    background: #d8dfe2;
    text-align: center;
}
.nav_zoning4{
    width: 100%;
    padding: 10px;
    background: #71adb5;
    text-align: center;
}
.tr_zoning4{
    width: 100%;
    height: 5px;
    background: #6acafc;
}
.section_zoning4{
     width: 93%;
     height: 500px;
     background: #176d81;
     margin: 20px;
     text-align: center;
     color: #fff;
}
.footer_zoning4{
    width: 100%;
    height: 80px;
    background: #0d3446;
    text-align: center; 
}

/* ZONING 5 */
#zoning55{
    width: 90%;
    height: 661px;
    background: #fff;
    border: 2px solid black;
    margin: auto;
}
.h_zoning5{
    width: 100%;
    height: 100px;
    background: #f8d771;
    text-align: center;
}
.n_zoning5{
     width: 100%;
     padding: 8px;
     text-align: center;
     background: #c19718;
}
.tr_zoning5{
    width: 100%;
    height: 5px;
    background: #7a5f0b;
}
.main_zoning5{
    width: 94%;
    height: 412px;
    margin-left: 26px;
    margin-top: 19px;
}
.zone1{
    width: 50%;
    height: 206px;
    background: #d6bc6b;
    text-align: center;
    float: left;
}
.zone2{
    width: 50%;
    height: 206px;
    background: #fce38a;
    text-align: center;
    float: right;
}
.zone3{
    width: 50%;
    height: 206px;
    background: #fce38a;
    text-align: center;
    float: left;
}
.zone4{
    width: 50%;
    height: 206px;
    background: #d6bc6b;
    text-align: center;
    float: right;
}
.f_zoning5{
    width: 100%;
    height: 60px;
    background: #f8d771;
    text-align: center;
    margin-top: 25px;
}

/* Zoning 6 */
#zoning_6{
    width: 80%;
    height: 833px;
    margin: auto;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
#bout{
    width: 100%;
    height: 187px;
}
.bout1{
    width: 25%;
    height: 187px;
    float: left;
    background: #203562;
}
.bout2{
    width: 50%;
    height: 187px;
    float: left;
    background: #3e588f;
    
}
.bout3{
    width: 25%;
    height: 187px;
    float: right;
    background: #203562;
    
}

#menu_z6{
    width: 100%;
    padding-top: 12px;
    background: #0b5269;
    
}
#zone_de_gauche{
    width: 20%;
    height: 570px;
    float: left;
    background: #446878;
}
#ab{
    width: 80%;
    height: 220px;
    float: right;
}
.ab{
    width: 50%;
    height: 220px;
    background: #c0c5cd;
    float: left;
}
.ba{
    width: 50%;
    height: 220px;
    background: #203562;
    float: right;
}

#slideshow{
    width: 80%;
    height: 220px;
    background: #314a52;
    float: right;
}

#cdef{
    width: 80%;
    height: 130px;
    /* border: 2px solid red;  */
    float: right;
}
.c{
   width: 25%;
   height: 130px;
   float: left;
   background: #c0c5cd; 
}
.d{
   width: 25%;
   height: 130px;
   float: left;
   background: #203562; 
}
#bas_z6{
    width: 100%;
    padding-bottom: 20px;
    background: #0b5269;
}

/* ---------ZONING ULTIME--------- */
#parent{
    width: 92%;
    height: 800px;
    margin: auto;
    border: 2px solid #fff;
    color: #fff;
}
 
.enfant_d{
    width: 20%;
    height: 797px;
    background: #531253;
    float: left;
    border: 2px solid #fff;
}
.enfant_d p{
    margin-left: 80px;
    margin-top: 50px;
     font-size: 25px;
}
.enfant0{
    width: 60%;
    height: 148px;
    float: left;
    background: #055864;
    border: 2px solid #fff;
}
.enfant0 p{
    margin-left: 270px;
    margin-top: 55px;
    font-size: 35px;
}
.enfant_m{
    width: 60%;
    height: 500px;
    float: left;
    border: 2px solid #fff;
}
    .m1{
       width: 70%;
       height: 150px;
       float: left;
        background: #531253;
        border: 2px solid #fff;
    }
    .m1 p{
    margin-left: 177px;
    margin-top: 55px;
    font-size: 22px;
}
    .m2{
        width: 30%;
        height: 360px;
        background: #531253;
        border: 2px solid #fff;
        float: right;
    }
    .m2 p{
       margin-left: 70px;
       margin-top: 55px;
       font-size: 22px;
    }

    .m3{
        width: 30%;
        height: 360px;
        background: #531253;
        border: 2px solid #fff;
        float: left; 
    }
     .m3 p{
       margin-left: 70px;
       margin-top: 55px;
       font-size: 22px;
    }
    .m4{
       width: 40%;
       height: 210px;
       background: #531253;
       border: 2px solid #fff;
       float: left;
    }
     .m4 p{
       margin-left: 95px;
       margin-top: 95px;
       font-size: 22px;
    }
    .m5{
        width: 70%;
       height: 150px;
       float: right;
        background: #531253;
        border: 2px solid #fff; 
    }
    .m5 p{
    margin-left: 177px;
    margin-top: 55px;
    font-size: 22px;
    }
   



.enfant_g{
    width: 20%;
    height: 797px;
    background: #531253;
    margin-top: -649px;
    float: left;
    border: 2px solid #fff;
}
.enfant_g p{
     margin-left: 80px;
    margin-top: 50px;
     font-size: 25px;
}
/* ----------- FIN ZONING --------- */



/* --------TABLEAU PAGE ------------ */
table{
    border: 2px solid #6495ed;
    width: 90%;
    margin: 25px;
    border-collapse: collapse;
}
thead, tfoot{
    background-color: #08bc05;
    border: 2px solid #ece5ee77;
}
tbody{
    border: 2px solid #08bc05;
}
th{
    border: 1px solid #ece5ee77;
    padding: 4px; /*marge interieur */
    
    width: 25%;
}
td{
    font-size: 100%;
    border: 1px solid #08bc05; 
    text-align: center; 
    padding: 5px;
     background-color: #ece5ee77;
}
td:first-child{
    text-align: center;
}
.border{
    border: none;
}
tr:nth-of-type(1){
    border: none;
}
/* --------TABLEAU PAGE END ------------ */

/* ------------LISTE------------- */




/* ------------FIN LISTE------------- */




/* ------------FIN LISTE------------- */

/* ---------Liens_Menu-------------- */
#position{
    width: 52%;
    /* height: 1196px; */
    background-color: #484b54b2; 
    border: 5px solid  #08bc05;
    margin: auto;
}
#position h4{
    text-align: left;
    margin-left: 20px;
    font-size: 20px;
}

.liens_menu a{
    text-decoration: none;
    color: whitesmoke;
    margin-left: 20px;
    background-color: #000;
    padding: 8px;
    border-radius: 20px 20px;
    display: inline-block;
    position: relative;
    left: 30%;
    /* box-shadow: 2px px 5px 5px rgb(19, 18, 18); */
}
.liens_menu a:hover{
    background: #fff;
    color: #000;
    border-radius: 30px 0;
    -moz-transition-duration: 2s;
}
.a{
    background-color: #000;
    padding: 8px;
    border-radius: 20px 20px;
    display: inline-block;
    position: relative;
    left: 30%; 
    font-family: sans-serif; 
}

p a{
    text-decoration: none;
    color: #08bc05;
    margin-left: 20px;
   
}


.fb{
    width: 127px;
    height: 128px;
    background: #08bc0557;
    border: none;
    border-radius: 20px 20px;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 10px;
}
.fb i{
    font-size: 100px;
}
.ma{
    margin-left: 20px;
}
.ma a{
    margin-right: 10px;
}

#menu{
    width: 100%;
    height: 100px;
    border: 1px solid #08bc05;
    margin-top: 100px;
}
#menu a{
    background-color: #08bc0565;
    padding: 8px;
    border-radius: 10px 0px;
    display: inline-block;
    position: relative;
    left: 30%; 
    font-family: sans-serif;
    text-decoration: none;
    /* color: blue; */
    margin-left: 20px;
    border: 1px solid #fff;
}
#menu a:hover{
    background: #08bc05;
    color: #fff;
    -moz-transition-duration: 2s;
    border-radius: 0 20px;
}

#les_m_deroulants{
     width: 100%;
    height: 500px;
    border: 1px solid #08bc05;
    margin-top: 100px;
}
#les_m_deroulants a{
    background-color: rgba(5, 5, 87, 0.486);
    padding: 8px;
    border-radius: 10px 0px;
    display: inline-block;
    position: relative;
    top: 3%; 
    margin-top: 2px;
    font-family: sans-serif;
    text-decoration: none;
    color: #08bc05;
    margin-left: 20px;
    border: 1px solid #fff;
}
#les_m_deroulants a:hover{
    background: #08bc05;
    color: rgba(5, 5, 87, 0.486);
    border-radius: 20px 10px;
}
#bgc{
    background-color:#08bc0571;
    width: 54%;
    height: 45px;
    margin: auto;
    border: 0.8px solid #08bc05;
    border-radius: 5px 5px;
}
    


/* ---------Fin Liens_Menu-------------- */

.clear{
    clear: both;
}
